@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#0d1117] text-[#c9d1d9] m-0 p-0 h-screen overflow-hidden;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0d1117;
}
::-webkit-scrollbar-thumb {
  background: #30363d;
  border-radius: 3px;
}
